.bug{
    background-color: #91c12f;
}
.bug-type{
    background-color: #accf7f;
}

.dark{
    background-color: #5a5465;
}.dark-type{
    background-color: #908d96;
}

.dragon{
    background-color: #0b6dc3;
}
.dragon-type{
    background-color: #7998ce;
}

.electric{
    background-color: #f4d23c;
}
.electric-type{
    background-color: #f6dd83;
}

.fairy{
    background-color: #ec8fe6;
}
.fairy-type{
    background-color: #f2adec;
}

.fighting{
    background-color: #ce416b;
}
.fighting-type{
    background-color: #d98698;
}

.fire{
    background-color: #fb6c6c;
}
.fire-type{
    background-color: #fd8686;
}

.flying{
    background-color: #8fa9de;
}
.flying-type{
    background-color: #aebde4;
}

.ghost{
    background-color: #5269ad;
}
.ghost-type{
    background-color: #8e97c0;
}

.grass{
    background-color: #46d1b1;
}
.grass-type{
    background-color: #5de0c7;
}

.ground{
    background-color: #d97845;
}
.ground-type{
    background-color: #e19f87;
}

.ice{
    background-color: #73cec0;
}
.ice-type{
    background-color: #9bd9cc;
}

.normal{
    background-color: #929da3;
}
.normal-type{
    background-color: #abb3b6;
}

.poison{
    background-color: #aa6bc8;
}
.poison-type{
    background-color: #be98d3;
}

.psychic{
    background-color: #fa7179;
}
.psychic-type{
    background-color: #fa9b9c;
}

.rock{
    background-color: #c5b78c;
}
.rock-type{
    background-color: #d3c8aa;
}

.steel{
    background-color: #5a8ea2;
}
.steel-type{
    background-color: #90acb8;
}

.water{
    background-color: #77befe;
}
.water-type{
    background-color: #8ccefe;
}

.card-general-style{
    border-radius: 30px;

    margin: 5px;
    padding: 10px;
    padding-left: 20px;

    width: 200px;
    height: 125px;

    display: flex;
    justify-content: space-between;
    position: relative;

    background-image: url("./pokeball-background.png");
    background-size: cover;

    font-family: 'Heebo', sans-serif;
}

.card-image{    
    height: 100px;   
    width: 100px;

    position: absolute;
    z-index: 0;

    padding-top: 30px;
}

.flexbox-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexbox-name-type{
    padding-top: 5px;
}

.flexbox-img-id{
    justify-content: flex-start;
    align-items: flex-end;
}

.pokemon-name{
    padding-top: 10px;
    font-size: 1.25em;
    font-weight: 700;
    z-index: 1;
}

.pokemon-id{
    font-size: 1em;
    padding: 15px;
    z-index: 1;
    opacity: 25%;
    font-weight: 700;
}

.pokemon-type{
    font-size: .75em;
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 3vh;
    font-weight: 700;
    width: fit-content;
}